<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/modi3.css" type="text/css" />
</head>
<body>
<div>
    <form id="zhuce" action="/web/toadd">
        <table border="0" align="center">
            <tr>
                <th colspan="2" bgcolor="00FFFF" align="left">学生信息修改</th>
            </tr>
            <tr>
                <td class="describ">姓名&nbsp;&nbsp;&nbsp;</td>
                <td><input type="text" class="input1" name="stuName" required="true"></td>
            </tr>
            <tr>
                <td class="describ">电话&nbsp;&nbsp;&nbsp;</td>
                <td><input type="tel" class="input1" name="stuPhone"/></td>
            </tr>
            <tr>
                <td class="describ">家庭住址&nbsp;&nbsp;&nbsp;</td>
                <td><input type="text" class="input1" name="stuAddress"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="添加" onclick="s();"></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>